@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p, span, b {
  opacity: 0.87;
}

.BrainhubCarousel__container {
  flex-basis: 200%;
}
