@import "variables";

.project {
	margin: 50px 0px 0px 50px;
	display: flex;
}

.info {
	flex-basis: 100%;
}

.name {
	font-weight: bold;
}

.description {
	margin-top: 20px;
}


.carousel {
	max-height: 400px;
	flex-basis: 100%;
	min-width: 0;
	padding: 0 50px;
	position: relative;
}

.carouselArrow {
	font-size: 2rem;
	cursor: pointer;
	color: $secondary !important;
	margin-left: 5px;
	margin-right: 5px;

	i {
	}
}

.carouselArrowDisabled {
	@extend .carouselArrow;
	color: $grey !important;
}

.carouselImageContainer {
	height: 400px;
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.carouselImage {
	width: 100%;
	height: 400px;
	object-fit: contain;
}

@media (max-width: 600px) {
	.project {
		flex-direction: column;
	}

	.carousel {
		margin-top: 20px;
	}
}




